# Logs
logs
*.log

# Config

# WebStorm
.idea
.directory
../.directory

controller/.hidden
bin/.hidden
routes/.hidden




# web
# dependencies
/web/node_modules

# compiled output
/web/dist
/web/dist-server
/web/tmp
/web/out-tsc

/web/typings

# e2e
/web/e2e/*.js
/web/e2e/*.map