

<table class="hide-on-small-only">
  <tr> 
    <th class="indigo-text"> name </th> 
    <th class="indigo-text"> createdBy </th> 
    <th class="indigo-text"> createdTime </th> 
    <th class="indigo-text"> lastConnection </th> 
    <th class="indigo-text"> Url </th>
    <th class="indigo-text"> Token </th>
    <th class="indigo-text"> Refresh Token </th>
    <th class="indigo-text"> Drop </th>
  </tr>
  <tr class="pointer" *ngFor="let server of servers">
    <td (click)="edit(server)"> {{server.name}} </td>
    <td (click)="edit(server)"> {{server.createdBy}} </td>
    <td (click)="edit(server)"> {{server.createdTime}} </td>
    <td (click)="edit(server)"> {{server.lastConnection}} </td>
    <td (click)="edit(server)"> {{server.host}}{{server.pingUrl}} </td>
    <td (click)="copyToken(server.token)"><a><i class="material-icons">content_copy</i></a></td>
    <td (click)="refreshToken(server.id)"><a><i class="material-icons">update</i></a></td>
    <td (click)="delete(server.id)"><a><i class="material-icons">delete</i></a></td>
  </tr>
</table>

<div class="show-for-small-only hide-on-med-only hide-on-large-only">
  <div style="border-bottom:1px solid #3f51b5" class="row" *ngFor="let server of servers">
    <div class="indigo-text left-align col s4">name:</div>
    <div class="left-align col s8">{{server.name}}</div>
    <div class="indigo-text left-align col s4">createdBy:</div>
    <div class="left-align col s8">{{server.createdBy}}</div>
    <div class="indigo-text left-align col s4">createdTime:</div>
    <div class="left-align col s8">{{server.createdTime}}</div>
    <div class="indigo-text left-align col s4">lastConnection:</div>
    <div class="left-align col s8">{{server.lastConnection}}</div>
    <div class="indigo-text left-align col s4">url:</div>
    <div class="left-align col s8">{{server.host}}{{server.pingUrl}}</div>
    <div class="indigo-text left-align col s4">Token:</div>
    <div (click)="copyToken(server.token)" class="left-align col s8 pointer"><a><i class="material-icons">content_copy</i></a></div>
    <div class="indigo-text left-align col s4">Refresh Token:</div>
    <div (click)="refreshToken(server.id)" class="left-align col s8 pointer"><a><i class="material-icons">update</i></a></div>
    <div class="indigo-text left-align col s4">Drop:</div>
    <div (click)="delete(server.id)" class="left-align col s8 pointer"><a><i class="material-icons">delete</i></a></div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 class="indigo-text">New Server</h4>
    <div class="row">
      <form class="col s12">
          <div class="row">
              <div class="input-field col s12">
                  <input name='name' [(ngModel)]="server.name" type="text" class="validate">
                  <label for="name">Name</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
                <input name='host' [(ngModel)]="server.host" type="text" class="validate">
                <label for="host">Host</label>
            </div>
            <div class="input-field col s4">
              <input name='pingUrl' [(ngModel)]="server.pingUrl" type="text" class="validate">
              <label for="pingUrl">Ping Url</label>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a [eventClickbyKey]="13" (click)="save(server)" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>



<footer style="position:fixed;bottom:1em;left:-1em;width:100%;">
<div class="left" style="margin-left: 1.8em"><h5 class="indigo-text">{{title}}</h5></div>
  <a (click)="open()" class="btn-floating btn-small waves-effect waves-light #3f51b5 indigo right"><i class="material-icons">add</i></a>
</footer>

