

<table class="hide-on-small-only">
  <tr> 
    <th class="indigo-text"> Name </th> 
    <th class="indigo-text"> CreatedBy </th> 
    <th class="indigo-text"> CreatedTime </th> 
    <th class="indigo-text"> LastConnection </th> 
    <th class="indigo-text"> Host </th>
    <th class="indigo-text"> /Ping </th>
    <th class="indigo-text"> /Stats </th>
    <th class="indigo-text"> Token </th>
    <th class="indigo-text"> R. Token </th>
    <th class="indigo-text"> Drop </th>
  </tr>
  <tr class="pointer" *ngFor="let server of servers">
    <td (click)="edit(server)"> {{server.name}} </td>
    <td (click)="edit(server)"> {{server.createdBy}} </td>
    <td (click)="edit(server)"> {{server.createdTime | date: 'dd/MM/yyyy'}} </td>
    <td (click)="edit(server)"> {{server.lastConnection}} </td>
    <td (click)="edit(server)"> {{server.host}} </td>
    <td (click)="edit(server)"> {{server.ping}} </td>
    <td (click)="edit(server)"> {{server.stats}}</td>
    <td (click)="copyToken(server.token)"><a><i class="material-icons">content_copy</i></a></td>
    <td (click)="refreshToken(server.id)"><a><i class="material-icons">update</i></a></td>
    <td (click)="delete(server.id)"><a><i class="material-icons">delete</i></a></td>
  </tr>
</table>

<div class="show-for-small-only hide-on-med-only hide-on-large-only">
  <div style="border-bottom:1px solid #3f51b5" class="row pointer" *ngFor="let server of servers">
    <div (click)="edit(server)" class="indigo-text left-align col s4">Name:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.name}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">CreatedBy:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.createdBy}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">CreatedTime:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.createdTime | date: 'dd/MM/yyyy'}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">LastConnection:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.lastConnection}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">Host:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.host}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">Ping:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.ping}}</div>
    <div (click)="edit(server)" class="indigo-text left-align col s4">Stats:</div>
    <div (click)="edit(server)" class="left-align col s8">{{server.stats}}</div>
    <div class="indigo-text left-align col s4">Token:</div>
    <div (click)="copyToken(server.token)" class="left-align col s8"><a><i class="material-icons">content_copy</i></a></div>
    <div class="indigo-text left-align col s4">R. Token:</div>
    <div (click)="refreshToken(server.id)" class="left-align col s8"><a><i class="material-icons">update</i></a></div>
    <div class="indigo-text left-align col s4">Drop:</div>
    <div (click)="delete(server.id)" class="left-align col s8"><a><i class="material-icons">delete</i></a></div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 class="indigo-text">New Server</h4>
    <div class="row">
      <form class="col s12">
          <div class="row">
              <div class="input-field col s6">
                  <input name='name' [(ngModel)]="server.name" type="text" class="validate">
                  <label for="name">Name</label>
              </div>
              <div class="input-field col s6">
                  <input name='host' [(ngModel)]="server.host" type="text" class="validate">
                  <label for="host">Host</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <input name='ping' [(ngModel)]="server.ping" type="text" class="validate">
                <label for="ping">/Ping (Url)</label>
            </div>
            <div class="input-field col s6">
                <input name='stats' [(ngModel)]="server.stats" type="text" class="validate">
                <label for="stats">/Stats (Url)</label>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a [eventClickbyKey]="13" (click)="save(server)" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>



<footer style="position:fixed;bottom:1em;left:-1em;width:100%;">
<div class="left" style="margin-left: 1.8em"><h5 class="indigo-text">{{title}}</h5></div>
  <a (click)="open()" class="btn-floating btn-small waves-effect waves-light #3f51b5 indigo right"><i class="material-icons">add</i></a>
</footer>

