version: '2'
services:
  # Shared Server Containers
  # Also we can use this container to build the aplication frontend (Angular/ReactJS)
  node:
    container_name: node
    build: ./node
    ports:
      - 8081:8081
    volumes:
      - ../shared-server:/usr/src/app
      - ./logs/npm:/root/.npm/_logs
    command: bash -c "npm install && npm run start-dev"
    depends_on:
      - postgresql
  postgresql:
    container_name: postgresql
    image: postgres:10.3
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=0000
      - PGDATA=/tmp

  # Application Server Containers
  gunicorn:
    container_name: gunicorn
    build: ./gunicorn
    ports:
      - 5858:5858
    volumes:
      - ../application-server:/usr/src/app
    command: bash -c "pip install -r requirements.txt && gunicorn -w 4 -b 0.0.0.0:5858 app:app --log-file=-"
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo:3.0.14
    volumes:
      - ./data/mongo:/data/db
