/* You can add global styles to this file, and also import other style files */
.container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .container .row {
    margin: 0 auto;
  }


.pointer  { cursor: pointer; }

  /*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
  .waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
   }

.chart {
    width: 100%; 
    min-height: 450px;
}
.row {
    margin:0 !important;
}

.version {
  font-size: 11px;
}
