<div [hidden]="!(isServers==undefined)">
    <h6 class="indigo-text">
        loading...
    </h6>
</div>
<div [hidden]="!(isServers==false)">
    <h6 class="indigo-text">
        There are no <b class="green-text">active</b> servers
    </h6>
</div>
<div [hidden]="!(isServers==true)">
    <h4 class="header indigo-text">Monitoring</h4>
</div>
    <div class="row">
        <!--<a (click)="change(1)" class="waves-effect waves-light btn-small right indigo" ><i class="material-icons center-align">dns</i>change</a>
        -->
        <div class="col s12 m12 l12">
            <div id="area"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div id="chart_pie"></div>
        </div>
        <div class="col s12 m6 l6">
            <div id="chart_barStacked"></div>
        </div>
    </div>


<footer style="position:fixed;bottom:1em;left:-1em;width:100%;">
<div class="left" style="margin-left: 1.8em"><h5 class="indigo-text">{{title}}</h5></div>
</footer>