<!--
<div class="row">
    <div class="col s12">
        <h4 class="header indigo-text">Monitoring</h4>
        <div class="card horizontal">
        <div class="card-image">
            <div *ngFor="let server of servers">
                <a FixButtonDirective (click)="change(server.id)" class="waves-effect waves-light btn-small right indigo" ><i class="material-icons center-align">dns</i>{{server.name}}</a>
            </div>
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    --> 
  <!--  <div class="row hide-on-small-only">
        <div class="col s6">
            <app-chart [id]="chart.pie.id" [type]="chart.pie.type" [data]="chart.pie.data" [options]="chart.pie.options" [columns]="chart.pie.columns"></app-chart>
        </div>
        <div class="col s6">
            <app-chart [id]="chart.barStacked.id" [type]="chart.barStacked.type" [data]="chart.barStacked.data" [options]="chart.barStacked.options" [columns]="chart.barStacked.columns"></app-chart>
        </div>
    </div>

    <div class="show-for-small-only hide-on-med-only hide-on-large-only">
        <div class="row">
            <div class="col s12">
                <app-chart [id]="chart.pie.id" [type]="chart.pie.type" [data]="chart.pie.data" [options]="chart.pie.options" [columns]="chart.pie.columns"></app-chart>
            </div>
            <div class="col s12">
                <app-chart [id]="chart.barStacked.id" [type]="chart.barStacked.type" [data]="chart.barStacked.data" [options]="chart.barStacked.options" [columns]="chart.barStacked.columns"></app-chart>
            </div>
        </div>
    </div>-->
    <a FixButtonDirective (click)="change(1)" class="waves-effect waves-light btn-small right indigo" ><i class="material-icons center-align">dns</i>change</a>
            
    <div class="row hide-on-small-only">
        <div class="col s12">
            <div id="area"></div>
        </div>
    </div>
    <div class="row hide-on-small-only">
        <div class="col s6">
            <div id="chart_pie"></div>
        </div>
        <div class="col s6">
            <div id="chart_barStacked"></div>
        </div>
    </div>


<footer style="position:fixed;bottom:1em;left:-1em;width:100%;">
<div class="left" style="margin-left: 1.8em"><h5 class="indigo-text">{{title}}</h5></div>
</footer>